body {
	font-family: sans-serif;
	background-color: #555;
	color: #999;
	margin: 0px;
	overflow: hidden;
}

h1, h2{
	margin: 0.12% 0;
}

h1{
	font-size: 18px;
}

h2{
	font-size: 14px;
}

p{
	font-size: 11px;
}

a:link, a:visited{
	color: #888;
}

a:hover{
	color: #666;
}

#info{
	position: absolute;
		bottom: 0px;
		z-index: 1;
	text-align: center;
	width: 100%;
}

#social_toolbar{
	height: 20px;
	margin:0;
	padding:0 0 10px 0;
}

#social_toolbar li{
	display: inline-block;
	height: 20px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#facebook_like{

}

#oldie{
	margin-top: 500px;
}

.thumbnail #info,
.thumbnail header,
.thumbnail footer {
	display: none;
}
